logic/flow/SlackKintai.json
[{"id":"4e4b5756.6431b8","type":"subflow","name":"土日以外実行","info":"","in":[{"x":100,"y":220,"wires":[{"id":"a459e434.f44c28"}]}],"out":[{"x":720,"y":300,"wires":[{"id":"86f00f9c.4a94e","port":2}]}]},{"id":"a459e434.f44c28","type":"function","z":"4e4b5756.6431b8","name":"曜日値を取得","func":"util = global.get('util');\ncts = util.adjustTime(new Date());\n\nmsg.day = cts.getDay();\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["86f00f9c.4a94e"]]},{"id":"86f00f9c.4a94e","type":"switch","z":"4e4b5756.6431b8","name":"土日以外はメッセージ送信","property":"day","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":524.0729522705078,"y":279.2638931274414,"wires":[[],[],[]]},{"id":"1ae668cd.8e9eb7","type":"inject","z":"94941e70.61a1","name":"Node-RED起動時","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":340,"wires":[["e98a4d66.8dd"]]},{"id":"e98a4d66.8dd","type":"function","z":"94941e70.61a1","name":"共通関数定義","func":"var util = {\n  formatTime : function(date, format) {\n    if (!format) format = 'YYYY-MM-DDThh:mm:ss';\n    format = format.replace(/YYYY/g, date.getFullYear());\n    format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));\n    format = format.replace(/DD/g, ('0' + date.getDate()).slice(-2));\n    format = format.replace(/hh/g, ('0' + date.getHours()).slice(-2));\n    format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));\n    format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));\n    if (format.match(/S/g)) {\n        var milliSeconds = ('00' + date.getMilliseconds()).slice(-3);\n        var length = format.match(/S/g).length;\n        for (var i = 0; i < length; i++) format = format.replace(/S/, milliSeconds.substring(i, i + 1));\n    }\n    return format;\n  },\n  adjustTime : function (msec) {\n    var date = new Date();\n    if (msec) date = new Date(msec);\n    var jisa = 9;\n    var here= date.getTime();\n    var gmt = here + date.getTimezoneOffset()*60*1000;\n\n    var dateMili = gmt+jisa*60*60*1000;\n    return new Date(dateMili);\n  }\n}\n//flow.set('util', util);\nglobal.set('util', util);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["20673dd2.15b482"]]},{"id":"555c6912.3b4468","type":"debug","z":"94941e70.61a1","name":"","active":false,"console":"false","complete":"false","x":1122,"y":340,"wires":[]},{"id":"abfc9b9c.e9ce08","type":"inject","z":"94941e70.61a1","name":"毎朝08:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 24 * * *","once":false,"x":110,"y":469,"wires":[["254b1809.417718"]]},{"id":"254b1809.417718","type":"subflow:4e4b5756.6431b8","z":"94941e70.61a1","x":320,"y":469,"wires":[["b7b6b382.367df"]]},{"id":"b7b6b382.367df","type":"function","z":"94941e70.61a1","name":"Timestamp追加","func":"util = global.get('util');\ncts = util.adjustTime(new Date());\nmsg.payload = util.formatTime(cts) + \"S\";\n\nmsg.ymdstr = util.formatTime(cts).slice(0, 10);\nmsg.ymstr = util.formatTime(cts).slice(0, 7);\n\nymdList = msg.ymdstr.split('-');\nmsg.ymdstr = ymdList[0] + \"/\" + ymdList[1] + \"/\" + ymdList[2];\nmsg.ymstr  = ymdList[0] + \"/\" + ymdList[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":469,"wires":[["65598ea3.bdeb3"]]},{"id":"65598ea3.bdeb3","type":"change","z":"94941e70.61a1","name":"S Button送信パラメータ設定","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"notifyID","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"text","pt":"msg","to":"の出社時刻は？","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":469,"wires":[["d4a22c41.6834c"]]},{"id":"d4a22c41.6834c","type":"template","z":"94941e70.61a1","name":"Select&Buttonテンプレート","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"text\": \"[{{{ymdstr}}}] {{{text}}}\"\n    ,\"attachments\": [{\n      \"text\": \"出社情報を登録して下さい。\",\n      \"fallback\": \"Couldn't reply.\",\n      \"callback_id\": \"{{{notifyID}}}\",\n      \"color\": \"#3AA3E3\",\n      \"attachment_type\": \"default\",\n      \"actions\": [\n        {\n          \"name\": \"inputdata\",\n          \"value\": \"dialog\",\n          \"text\": \"出社情報登録\",\n          \"type\": \"button\",\n          \"style\": \"primary\"\n        }\n      ]\n    }]\n}\n","output":"json","x":1020,"y":469,"wires":[["fb24da1d.488608"]]},{"id":"50308220.6be87c","type":"template","z":"94941e70.61a1","name":"Select&Buttonテンプレート","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"text\": \"[{{{ymdstr}}}] {{{text}}}\"\n    ,\"attachments\": [{\n      \"text\": \"退社情報を登録して下さい。\",\n      \"fallback\": \"Couldn't reply.\",\n      \"callback_id\": \"{{{notifyID}}}\",\n      \"color\": \"#DF7401\",\n      \"attachment_type\": \"default\",\n      \"actions\": [\n        {\n          \"name\": \"inputdata\",\n          \"value\": \"dialog\",\n          \"text\": \"退社情報登録\",\n          \"type\": \"button\",\n          \"style\": \"primary\"\n        }\n      ]\n    }]\n}\n","output":"json","x":1020,"y":509,"wires":[["fb24da1d.488608"]]},{"id":"f6312bd9.bce9a8","type":"change","z":"94941e70.61a1","name":"E Button送信パラメータ設定","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"notifyID","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"text","pt":"msg","to":"の退社時刻は？","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":509,"wires":[["50308220.6be87c"]]},{"id":"4045a9ab.932298","type":"function","z":"94941e70.61a1","name":"Timestamp追加","func":"util = global.get('util');\ncts = util.adjustTime(new Date());\nmsg.payload = util.formatTime(cts) + \"E\";\n\nmsg.ymdstr = util.formatTime(cts).slice(0, 10);\nmsg.ymstr = util.formatTime(cts).slice(0, 7);\n\nymdList = msg.ymdstr.split('-');\nmsg.ymdstr = ymdList[0] + \"/\" + ymdList[1] + \"/\" + ymdList[2];\nmsg.ymstr  = ymdList[0] + \"/\" + ymdList[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":509,"wires":[["f6312bd9.bce9a8"]]},{"id":"459e3210.82980c","type":"subflow:4e4b5756.6431b8","z":"94941e70.61a1","x":320,"y":509,"wires":[["4045a9ab.932298"]]},{"id":"f3e55a25.e02498","type":"inject","z":"94941e70.61a1","name":"夕方17:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 8 * * *","once":false,"x":110,"y":509,"wires":[["459e3210.82980c"]]},{"id":"20673dd2.15b482","type":"template","z":"94941e70.61a1","name":"bot_access_token設定","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"bot_access_tkn\": \"xoxb-xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx\"\n}","output":"json","x":540,"y":340,"wires":[["99a1b3d.e8fbd5","456a5aa0.7414c4"]]},{"id":"99a1b3d.e8fbd5","type":"function","z":"94941e70.61a1","name":"global設定","func":"global.set('const', msg.payload);\n\nmsg.payload = \"共通関数、Slack定数が定義されました\"\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[["555c6912.3b4468"]]},{"id":"2dc20466.87d43c","type":"debug","z":"94941e70.61a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":300,"wires":[]},{"id":"456a5aa0.7414c4","type":"change","z":"94941e70.61a1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"const","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":300,"wires":[["2dc20466.87d43c"]]},{"id":"e2442d41.fb774","type":"delay","z":"94941e70.61a1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":760,"wires":[["98472bc7.27fdc8"]]},{"id":"9873bafb.7b9738","type":"function","z":"94941e70.61a1","name":"Timestamp追加","func":"util = global.get('util');\ncts = util.adjustTime(new Date());\nmsg.payload.timestamp = util.formatTime(cts);\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":880,"wires":[["e2442d41.fb774","c9ed5987.9ab728"]]},{"id":"6ddef3d6.105e4c","type":"switch","z":"94941e70.61a1","name":"button判定","property":"actions.value","propertyType":"msg","rules":[{"t":"eq","v":"dialog","vt":"str"},{"t":"eq","v":"viewupdate","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":850,"y":900,"wires":[["b176cd5a.d731e"],["e2442d41.fb774"],["9873bafb.7b9738"]]},{"id":"4e2a7898.cc4e98","type":"http request","z":"94941e70.61a1","name":"","method":"use","ret":"obj","url":"","tls":"","x":1470,"y":940,"wires":[["e2442d41.fb774"]]},{"id":"c2d00d85.b53cc","type":"function","z":"94941e70.61a1","name":"dialog submit","func":"msg.user = msg.payload.user;\nmsg.callback_id = msg.payload.callback_id;\nmsg.original_message = msg.payload.original_message;\n\nmsg.actions = {\n  value: msg.payload.submission.time  \n};\n\nif (msg.payload.submission.comment) {\n    msg.comment = msg.payload.submission.comment;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":700,"wires":[["9873bafb.7b9738","5d039399.bf7b2c","f26f8f1b.1dfeb"]]},{"id":"c9ed5987.9ab728","type":"template","z":"94941e70.61a1","name":"callback_dataテンプレート","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"callback_id\": \"{{{payload.callback_id}}}\",\n  \"user\": \"{{{user.name}}}\",\n  \"value\": \"{{{actions.value}}}\",\n  \"timestamp\": \"{{{payload.timestamp}}}\"\n}","output":"json","x":1640,"y":880,"wires":[["90573084.147f9"]]},{"id":"3e45691e.9c55f6","type":"function","z":"94941e70.61a1","name":"select & button の値","func":"\nif (msg.payload.actions[0].selected_options) {\n    //select\n    msg.actions = msg.payload.actions[0].selected_options[0];\n} else {\n    //button\n    msg.actions = msg.payload.actions[0];\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":900,"wires":[["6ddef3d6.105e4c"]]},{"id":"b176cd5a.d731e","type":"change","z":"94941e70.61a1","name":"","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.user","tot":"msg"},{"t":"set","p":"actions","pt":"msg","to":"payload.actions[0]","tot":"msg"},{"t":"set","p":"original_message","pt":"msg","to":"payload.original_message","tot":"msg"},{"t":"set","p":"callback_id","pt":"msg","to":"payload.callback_id","tot":"msg"},{"t":"set","p":"dialog","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":940,"wires":[["394d221d.51cbae"]]},{"id":"394d221d.51cbae","type":"function","z":"94941e70.61a1","name":"ダイアログ画面作成","func":"msg.method = \"POST\";\n\nmsg.url = \"https://slack.com/api/dialog.open?token=\"+context.global.const.bot_access_tkn;\nmsg.url += \"&trigger_id=\"+msg.payload.trigger_id;\n\n\ncallback_id = msg.callback_id;\n\nif (callback_id.endsWith('S')) {\n    label_head = \"出社\";   \n    label_note = \"(10:00 or 年休とか)\";\n} else {\n    label_head = \"退社\";\n    label_note = \"(18:40 or 年休とか)\";\n}\n\ndsrc =\n{\n    \"callback_id\": callback_id,\n    \"title\": label_head+\"情報の入力\",\n//    \"submit_label\": \"ＯＫ\",\n    \"elements\": [\n        {\n            \"type\": \"text\",\n            \"label\": label_head+\"時刻\"+label_note,\n            \"name\": \"time\"\n        }\n        ,{\n            \"type\": \"text\",\n            \"label\": label_head+\"に関するコメント\",\n            \"name\": \"comment\",\n            \"optional\": true\n        }\n    ]\n};\n\nmsg.url += \"&dialog=\"+encodeURI(JSON.stringify(dsrc));\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":940,"wires":[["4e2a7898.cc4e98"]]},{"id":"e3e892aa.1ac72","type":"switch","z":"94941e70.61a1","name":"type判定","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"dialog_submission","vt":"str"},{"t":"eq","v":"interactive_message","vt":"str"}],"checkall":"true","outputs":2,"x":640,"y":700,"wires":[["c2d00d85.b53cc"],["2c9dacae.24fdf4"]]},{"id":"5d039399.bf7b2c","type":"switch","z":"94941e70.61a1","name":"comment有？","property":"comment","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":660,"y":1020,"wires":[["85b37e13.d4109"],[]]},{"id":"90573084.147f9","type":"function","z":"94941e70.61a1","name":"id","func":"util = global.get('util');\ncts = util.adjustTime(new Date());\nmsg.payload['id'] = cts+\"\";\n\nmsg.payload['group'] = context.global.membersByName[msg.payload.user].group;\n\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":880,"wires":[["abc79880.c11348"]]},{"id":"2c9dacae.24fdf4","type":"change","z":"94941e70.61a1","name":"","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.user","tot":"msg"},{"t":"set","p":"actions","pt":"msg","to":"payload.actions[0]","tot":"msg"},{"t":"set","p":"original_message","pt":"msg","to":"payload.original_message","tot":"msg"},{"t":"set","p":"callback_id","pt":"msg","to":"payload.callback_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":800,"wires":[["3e45691e.9c55f6"]]},{"id":"82ddb8c0.ae4518","type":"json","z":"94941e70.61a1","name":"","pretty":false,"x":490,"y":700,"wires":[["e3e892aa.1ac72","7c1b13a5.8e21fc"]]},{"id":"85b37e13.d4109","type":"delay","z":"94941e70.61a1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":1020,"wires":[["10f9bb6f.021ef5"]]},{"id":"e39eb8.57ae9148","type":"template","z":"94941e70.61a1","name":"callback_dataテンプレート(comment)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"callback_id\": \"{{{payload.callback_id}}}\",\n  \"user\": \"{{{user.name}}}\",\n  \"timestamp\": \"{{{payload.timestamp}}}\",\n  \"comment\": \"{{{comment}}}\"\n}","output":"json","x":1290,"y":1020,"wires":[["1595a979.bdf1d7"]]},{"id":"abc79880.c11348","type":"dashDB in","z":"94941e70.61a1","dashDB":"","service":"Db2 Warehouse-kintaiApp2","query":"INSERT INTO KINTAI_DATA (\"_ID\", CALLBACK_ID, \"GROUP\", \"USER\", VALUE, TIMESTAMP) VALUES (?, ?, ?, ?, ?, ?)","params":"msg.payload.id,msg.payload.callback_id,msg.payload.group,msg.payload.user,msg.payload.value,msg.payload.timestamp","name":"","x":1960,"y":880,"wires":[[]]},{"id":"1137205e.152db","type":"change","z":"94941e70.61a1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":700,"wires":[["82ddb8c0.ae4518"]]},{"id":"7c1b13a5.8e21fc","type":"debug","z":"94941e70.61a1","name":"","active":false,"console":"false","complete":"false","x":650,"y":660,"wires":[]},{"id":"10f9bb6f.021ef5","type":"function","z":"94941e70.61a1","name":"Timestamp追加","func":"util = global.get('util');\ncts = util.adjustTime(new Date());\nmsg.payload.timestamp = util.formatTime(cts);\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1020,"wires":[["e39eb8.57ae9148"]]},{"id":"1595a979.bdf1d7","type":"function","z":"94941e70.61a1","name":"id","func":"util = global.get('util');\ncts = util.adjustTime(new Date());\nmsg.payload['id'] = cts+\"\";\n\nmsg.payload['group'] = context.global.membersByName[msg.payload.user].group;\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1020,"wires":[["62b1fcec.339284"]]},{"id":"f127eec3.d28b9","type":"http in","z":"94941e70.61a1","name":"","url":"/button-callback","method":"post","upload":false,"swaggerDoc":"","x":120,"y":700,"wires":[["1137205e.152db"]]},{"id":"62b1fcec.339284","type":"dashDB in","z":"94941e70.61a1","dashDB":"","service":"Db2 Warehouse-kintaiApp2","query":"INSERT INTO KINTAI_DATA (\"_ID\", CALLBACK_ID, \"GROUP\", \"USER\", TIMESTAMP, COMMENT) VALUES (?, ?, ?, ?, ?, ?)","params":"msg.payload.id,msg.payload.callback_id,msg.payload.group,msg.payload.user,msg.payload.timestamp,msg.payload.comment","name":"","x":1660,"y":1020,"wires":[[]]},{"id":"d201e171.9ecff","type":"http response","z":"94941e70.61a1","name":"","statusCode":"","headers":{},"x":1610,"y":760,"wires":[]},{"id":"98472bc7.27fdc8","type":"change","z":"94941e70.61a1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"original_message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":760,"wires":[["d201e171.9ecff"]]},{"id":"81b6da03.aff5f8","type":"change","z":"94941e70.61a1","name":"","rules":[{"t":"set","p":"userslist_uri","pt":"msg","to":"https://slack.com/api/users.list?token=","tot":"str"},{"t":"set","p":"bot_access_tkn","pt":"msg","to":"const.bot_access_tkn","tot":"global"},{"t":"set","p":"url","pt":"msg","to":"userslist_uri & bot_access_tkn","tot":"jsonata"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":489,"wires":[["ec62a553.59dec8","2581df1d.b5831"]]},{"id":"ec62a553.59dec8","type":"http request","z":"94941e70.61a1","name":"","method":"use","ret":"obj","url":"","tls":"","x":1670,"y":489,"wires":[["a8be1d86.4604b","3ab18856.d14658"]]},{"id":"a8be1d86.4604b","type":"function","z":"94941e70.61a1","name":"members[i].is_bot == false && members[i].name != \"slackbot\"","func":"members = msg.payload.members;\n\ncontext.global.members = {};\ncontext.global.membersByName = {};\n\nact_users = [];\nfor (i in members) {\n    if (members[i].is_bot == false && members[i].name != \"slackbot\") {\n        \n        if (p = members[i].profile.title.match(/.*<KINTAI=(.*)>.*/)) {\n            members[i].group = p[1];\n            act_users.push(members[i]);\n            \n        } else if (members[i].profile.title.match(/.*KINTAI_USER.*/)) {\n            members[i].group = \"general\";\n            act_users.push(members[i]);\n        } else {\n            members[i].group = \"general\";\n        }\n        context.global.members[members[i].id] = members[i];\n        context.global.membersByName[members[i].name] = members[i];\n    }\n}\n\nmsg.payload = act_users;\n\nreturn msg;","outputs":1,"noerr":0,"x":1980,"y":489,"wires":[["119f88a6.b1b1d7"]]},{"id":"119f88a6.b1b1d7","type":"change","z":"94941e70.61a1","name":"set users, count","rules":[{"t":"set","p":"users","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"count","pt":"msg","to":"$count(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":489,"wires":[["d4c49d55.1a0bf"]]},{"id":"d4c49d55.1a0bf","type":"function","z":"94941e70.61a1","name":"set msg.user","func":"\nmsg.user = msg.users[--msg.count];\n\nreturn msg;","outputs":1,"noerr":0,"x":2490,"y":489,"wires":[["9cc8342e.b67278"]]},{"id":"9cc8342e.b67278","type":"switch","z":"94941e70.61a1","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2630,"y":489,"wires":[[],["f8169bb4.cb94e8","e98a208c.98235","881cfd25.e6347"]]},{"id":"f8169bb4.cb94e8","type":"delay","z":"94941e70.61a1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2560,"y":549,"wires":[["d4c49d55.1a0bf"]]},{"id":"e98a208c.98235","type":"debug","z":"94941e70.61a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"user","x":2800,"y":549,"wires":[]},{"id":"2581df1d.b5831","type":"debug","z":"94941e70.61a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1630,"y":549,"wires":[]},{"id":"3ab18856.d14658","type":"debug","z":"94941e70.61a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":549,"wires":[]},{"id":"fb24da1d.488608","type":"change","z":"94941e70.61a1","name":"","rules":[{"t":"set","p":"buttonForm","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":489,"wires":[["81b6da03.aff5f8"]]},{"id":"c32acdcd.579bd","type":"http in","z":"94941e70.61a1","name":"","url":"/list/:yyyy/:mm/:dd","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1280,"wires":[["3ed825ff.1c810a"]]},{"id":"3ed825ff.1c810a","type":"function","z":"94941e70.61a1","name":"パラメータ設定","func":"yyyy = msg.req.params.yyyy;\nmm = msg.req.params.mm;\ndd = msg.req.params.dd;\nuser = msg.req.params.user;\ngroup = msg.payload.g;\n\nif (dd) {\n    msg.payload.ymd = yyyy + \"-\" + mm + \"-\" + dd;\n\n    if (user) {\n        msg.payload.user = user;\n        msg.title = yyyy +\"/\"+mm+ \"/\"+dd+\" \"+ user + \"の出退勤表\";\n    } else {\n        msg.payload.group = group;\n        msg.title = yyyy +\"/\"+mm+ \"/\"+dd+\" \"+ group + \"の出退勤表\";\n    }\n    \n} else {\n    msg.payload.ym = yyyy + \"-\" + mm;\n    \n    if (user) {\n        msg.payload.user = user;\n        msg.title = yyyy +\"/\"+mm+ \" \"+ user + \"の出退勤表\";\n    } else {\n        msg.payload.group = group;\n        msg.title = yyyy +\"/\"+mm+ \" \"+ group + \"の出退勤表\";\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1220,"wires":[["845fc810.903818","bbc3fb1f.a93558"]]},{"id":"845fc810.903818","type":"debug","z":"94941e70.61a1","name":"","active":false,"console":"false","complete":"false","x":590,"y":1280,"wires":[]},{"id":"7578b88b.073a48","type":"http in","z":"94941e70.61a1","name":"","url":"/list/:yyyy/:mm","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1180,"wires":[["3ed825ff.1c810a"]]},{"id":"ee95676c.1f6768","type":"http in","z":"94941e70.61a1","name":"","url":"/list/:yyyy/:mm/user/:user","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1140,"wires":[["3ed825ff.1c810a"]]},{"id":"ad9f6158.de33a","type":"http in","z":"94941e70.61a1","name":"","url":"/list/:yyyy/:mm/:dd/user/:user","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1320,"wires":[["3ed825ff.1c810a"]]},{"id":"221ea9d6.96a716","type":"dashDB in","z":"94941e70.61a1","dashDB":"","service":"Db2 Warehouse-kintaiApp2","query":"","params":"","name":"","x":780,"y":1220,"wires":[["9924c1f9.41d51","3379338a.0d222c"]]},{"id":"a58fc934.3e9e48","type":"debug","z":"94941e70.61a1","name":"","active":false,"console":"false","complete":"false","x":790,"y":1280,"wires":[]},{"id":"9924c1f9.41d51","type":"function","z":"94941e70.61a1","name":"table作成(月対応)","func":"list = msg.payload;\n\nif (!(Object.prototype.toString.call(list) === \"[object Array]\")) {\n    list = [ list ];\n}\n\ntable = [];\ndata = {};\nprevDate = null;\nfor (i in list) {\n\n    curDate = list[i].CALLBACK_ID.substring(0, 10);\n    if (prevDate !== null && prevDate != curDate) {\n        keys = Object.keys(data);\n        for (j in keys) {\n            table.push(data[keys[j]]);\n        }\n        data = {};\n    }\n    \n    if (!data[list[i].USER]) {\n        data[list[i].USER] = {user: list[i].USER};\n    }\n    \n    if (list[i].CALLBACK_ID.endsWith('S')) {\n\n        data[list[i].USER]['date'] = curDate;\n        prevDate = curDate;\n        \n        data[list[i].USER]['start'] = list[i].VALUE;\n        if (list[i].COMMENT) {\n            data[list[i].USER]['start_comment'] = list[i].COMMENT;\n        } else {\n            data[list[i].USER]['start_comment'] = \"\";\n        }\n        \n    } else if (list[i].CALLBACK_ID.endsWith('E')) {\n        \n        prevDate = curDate;\n        \n        data[list[i].USER]['end'] = list[i].VALUE;\n        if (list[i].COMMENT) {\n            data[list[i].USER]['end_comment'] = list[i].COMMENT;\n        } else {\n            data[list[i].USER]['end_comment'] = \"\";\n        }\n    }\n\n}\n\nkeys = Object.keys(data);\nfor (i in keys) {\n    table.push(data[keys[i]]);\n}\n\nlines = \"\";\nfor (i in table) {\n    if (table[i].start) {\n        lines += \"<tr><td>\"+ table[i].date + \"</td><td>\" + table[i].user + \"</td><td>\" + table[i].start + \"</td><td>\" + table[i].start_comment + \"</td>\";\n        if (table[i].end) {\n            lines += \"<td>\" + table[i].end + \"</td><td>\" + table[i].end_comment + \"</td></tr>\";\n        } else {\n            lines += \"<td></td><td></td></tr>\";\n        }\n    }\n}\nmsg.payload.body_content = '<table class=\"table\"><tr><th>日付</th><th>メンバー</th><th>出社時刻</th><th>コメント(出社関連)</th><th>退社時刻</th><th>コメント(退社関連)</th></tr>'+lines+'</table>';\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1220,"wires":[["197bbcff.fe0f43"]]},{"id":"3379338a.0d222c","type":"debug","z":"94941e70.61a1","name":"","active":false,"console":"false","complete":"payload","x":990,"y":1280,"wires":[]},{"id":"197bbcff.fe0f43","type":"template","z":"94941e70.61a1","name":"bootstrap_base","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>{{{title}}}</title>\n    <!-- BootstrapのCSS読み込み -->\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- jQuery読み込み -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js\"></script>\n    <!-- BootstrapのJS読み込み -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n  </head>\n  <body>\n    <div class=\"container\">\n        {{{payload.body_content}}}\n    </div>\n  </body>\n</html>\n","output":"str","x":1220,"y":1220,"wires":[["930bdf1a.3a1a3"]]},{"id":"930bdf1a.3a1a3","type":"http response","z":"94941e70.61a1","name":"","statusCode":"","headers":{},"x":1390,"y":1220,"wires":[]},{"id":"b8a3853f.8961b8","type":"inject","z":"94941e70.61a1","name":"テーブル作成","topic":"","payload":"KINTAI_DATA","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":140,"wires":[["ca01a7b3.76f578"]]},{"id":"ca01a7b3.76f578","type":"change","z":"94941e70.61a1","name":"SELECTCOUNT","rules":[{"t":"set","p":"SELECTCOUNT_TABLE_PREFIX","pt":"msg","to":"SELECT COUNT(*) FROM ","tot":"str"},{"t":"set","p":"SELECTCOUNT_TABLE_POSTFIX","pt":"msg","to":" ","tot":"str"},{"t":"set","p":"TABLE","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"SELECTCOUNT_TABLE_PREFIX & TABLE & SELECTCOUNT_TABLE_POSTFIX","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["d4f3fd83.8c716"]]},{"id":"d4f3fd83.8c716","type":"dashDB in","z":"94941e70.61a1","dashDB":"","service":"Db2 Warehouse-kintaiApp2","query":"","params":"","name":"","x":480,"y":140,"wires":[["8785a4ee.0a0088"]]},{"id":"8785a4ee.0a0088","type":"switch","z":"94941e70.61a1","name":"is null","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":610,"y":140,"wires":[["61de5a9d.0ada94"],["1e19cc6b.61ef04"]]},{"id":"61de5a9d.0ada94","type":"change","z":"94941e70.61a1","name":"CREATE TABLE DDL","rules":[{"t":"set","p":"CREATE_TABLE_PREFIX","pt":"msg","to":"CREATE TABLE ","tot":"str"},{"t":"set","p":"CREATE_TABLE_POSTFIX","pt":"msg","to":"( CALLBACK_ID VARCHAR(255) NOT NULL,  COMMENT VARCHAR(255),  TIMESTAMP VARCHAR(255),  GROUP VARCHAR(255),  USER VARCHAR(255),  VALUE VARCHAR(255),  \"_ID\" VARCHAR(255) NOT NULL,  \"_REV\" VARCHAR(255), primary key(\"_ID\"));","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"CREATE_TABLE_PREFIX & TABLE & CREATE_TABLE_POSTFIX","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":120,"wires":[["953bd2d3.6732e"]]},{"id":"1e19cc6b.61ef04","type":"change","z":"94941e70.61a1","name":"already exist.","rules":[{"t":"set","p":"payload","pt":"msg","to":"TABLE & ' is already exist.'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[["68c808e8.40d218"]]},{"id":"953bd2d3.6732e","type":"dashDB in","z":"94941e70.61a1","dashDB":"","service":"Db2 Warehouse-kintaiApp2","query":"","params":"","name":"","x":960,"y":120,"wires":[["203580e4.8a3b1"]]},{"id":"68c808e8.40d218","type":"debug","z":"94941e70.61a1","name":"","active":true,"console":false,"complete":"payload","x":950,"y":160,"wires":[]},{"id":"203580e4.8a3b1","type":"debug","z":"94941e70.61a1","name":"","active":true,"console":false,"complete":"false","x":1110,"y":120,"wires":[]},{"id":"58890072.9c607","type":"inject","z":"94941e70.61a1","name":"テーブル削除","topic":"","payload":"KINTAI_DATA","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":200,"wires":[[]]},{"id":"68e5f774.9c05b8","type":"change","z":"94941e70.61a1","name":"DROP TABLE DDL","rules":[{"t":"set","p":"TABLE","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"DROP_TABLE_PREFIX","pt":"msg","to":"DROP TABLE ","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"DROP_TABLE_PREFIX & TABLE","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["7ed1826.961477c"]]},{"id":"7ed1826.961477c","type":"dashDB in","z":"94941e70.61a1","dashDB":"","service":"Db2 Warehouse-kintaiApp2","query":"","params":"","name":"","x":520,"y":200,"wires":[["efb0d25.3f8de3"]]},{"id":"efb0d25.3f8de3","type":"debug","z":"94941e70.61a1","name":"","active":true,"console":false,"complete":"false","x":690,"y":200,"wires":[]},{"id":"f26f8f1b.1dfeb","type":"function","z":"94941e70.61a1","name":"出社、退社判定","func":"cbid = msg.callback_id;\n\nif (cbid.match(/.*S$/)) {\n    msg.dataType = '出社';\n    msg.color = '0074bf';\n    \n    if (!msg.comment) {\n        msg.comment = 'なし';\n    }\n    \n} else {\n    msg.dataType = '退社';\n    msg.color = '56a764';\n\n    if (!msg.comment) {\n        msg.comment = 'なし';\n    }\n    \n}\n\nmsg.ymdstr = cbid.slice(0, 10);\nmsg.ymstr = cbid.slice(0, 7);\n\nymdList = msg.ymdstr.split('-');\nmsg.ymdstr = ymdList[0] + \"/\" + ymdList[1] + \"/\" + ymdList[2];\nmsg.ymstr  = ymdList[0] + \"/\" + ymdList[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":680,"wires":[["cb540766.1bd518","94fa4a53.854448"]]},{"id":"cb540766.1bd518","type":"debug","z":"94941e70.61a1","name":"","active":false,"console":"false","complete":"true","x":1390,"y":620,"wires":[]},{"id":"94fa4a53.854448","type":"function","z":"94941e70.61a1","name":"set rea_name & group","func":"if (context.global.members) {\n\n    msg.user.real_name = context.global.members[msg.user.id].real_name;\n    msg.user.group = context.global.members[msg.user.id].group;\n    \n} else {\n    \n    msg.user.real_name = msg.user.name;\n    msg.user.group = \"sts\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":680,"wires":[["de0ea039.03fca"]]},{"id":"de0ea039.03fca","type":"function","z":"94941e70.61a1","name":"コマンド例の日付オプション作成","func":"\nmsg.ym_option = msg.ymstr.replace('/', '-');\n\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":680,"wires":[["1d92b1da.63ba2e"]]},{"id":"1d92b1da.63ba2e","type":"template","z":"94941e70.61a1","name":"連携情報","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"channel\": \"#random\", \n    \"username\": \"webhookbot\", \n    \"attachments\": [\n      {\n        \"pretext\": \"{{{user.real_name}}}さんの {{{ymdstr}}} {{{dataType}}}情報\",\n        \"color\": \"#{{{color}}}\",\n        \"title\": \"{{{dataType}}}時刻\",\n        \"text\": \"{{{actions.value}}}\"\n      }\n      ,{\n        \"color\": \"#{{{color}}}\",\n        \"title\": \"{{{dataType}}}に関するコメント\",\n        \"text\": \"{{{comment}}}\"\n      }\n      ,{\n        \"author_name\": \"{{{user.real_name}}}さんの今月\",\n        \"author_link\": \"https://kintaiapp2.mybluemix.net/list/{{{ymstr}}}/user/{{{user.name}}}?g={{{user.group}}}\",\n        \"text\": \"\",\n        \"color\": \"#3AF3E3\"\n      }\n      ,{\n        \"author_name\": \"{{{user.real_name}}}さんのチームの今月\",\n        \"author_link\": \"https://kintaiapp2.mybluemix.net/list/{{{ymstr}}}?g={{{user.group}}}\",\n        \"text\": \"\",\n        \"color\": \"#ff0000\"\n      }\n    ],\n    \"icon_emoji\": \":ghost:\"\n}\n","output":"json","x":1940,"y":680,"wires":[["fa289f99.bff67"]]},{"id":"fa289f99.bff67","type":"change","z":"94941e70.61a1","name":"S Button送信パラメータ設定","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://slack.com/api/chat.postMessage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":680,"wires":[["f09c83bb.8d515"]]},{"id":"f09c83bb.8d515","type":"change","z":"94941e70.61a1","name":"set Token, channel, user","rules":[{"t":"set","p":"bot_access_tkn","pt":"msg","to":"const.bot_access_tkn","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"{ \"content-type\": \"application/json\" }","tot":"json"},{"t":"set","p":"headers.Authorization","pt":"msg","to":"'Bearer ' & bot_access_tkn","tot":"jsonata"},{"t":"set","p":"payload.as_user","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2410,"y":680,"wires":[["8865beab.b7845"]]},{"id":"8865beab.b7845","type":"change","z":"94941e70.61a1","name":"出力チャネル設定","rules":[{"t":"set","p":"payload.channel","pt":"msg","to":"user.group","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":680,"wires":[["a83a942b.b1a348"]]},{"id":"a83a942b.b1a348","type":"http request","z":"94941e70.61a1","name":"","method":"use","ret":"txt","url":"","tls":"","x":2870,"y":680,"wires":[["b4c50bb3.ef69c8"]]},{"id":"b4c50bb3.ef69c8","type":"debug","z":"94941e70.61a1","name":"","active":false,"console":"false","complete":"true","x":3030,"y":680,"wires":[]},{"id":"881cfd25.e6347","type":"change","z":"94941e70.61a1","name":"S Button送信パラメータ設定","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"https://slack.com/api/chat.postMessage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2860,"y":489,"wires":[["f1d655ee.61b2c8"]]},{"id":"f1d655ee.61b2c8","type":"function","z":"94941e70.61a1","name":"set real_name","func":"\nmsg.real_name = context.global.members[msg.user.id].real_name;\n\nreturn msg;","outputs":1,"noerr":0,"x":3080,"y":489,"wires":[["1086b179.51d07f"]]},{"id":"1086b179.51d07f","type":"change","z":"94941e70.61a1","name":"buttonForm -> payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"buttonForm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3280,"y":489,"wires":[["1ebd5206.40d83e"]]},{"id":"1ebd5206.40d83e","type":"change","z":"94941e70.61a1","name":"set Token, channel, user","rules":[{"t":"set","p":"bot_access_tkn","pt":"msg","to":"const.bot_access_tkn","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"{ \"content-type\": \"application/json\" }","tot":"json"},{"t":"set","p":"headers.Authorization","pt":"msg","to":"'Bearer ' & bot_access_tkn","tot":"jsonata"},{"t":"set","p":"payload.channel","pt":"msg","to":"'@' & user.name","tot":"jsonata"},{"t":"set","p":"payload.as_user","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":3530,"y":489,"wires":[["19250bf5.1230c4"]]},{"id":"19250bf5.1230c4","type":"http request","z":"94941e70.61a1","name":"","method":"use","ret":"txt","url":"","tls":"","x":3750,"y":489,"wires":[["1e025857.8f0f98"]]},{"id":"1e025857.8f0f98","type":"debug","z":"94941e70.61a1","name":"","active":false,"console":"false","complete":"true","x":3910,"y":489,"wires":[]},{"id":"bbc3fb1f.a93558","type":"function","z":"94941e70.61a1","name":"SQL作成","func":"if (msg.payload.ymd) {\n    today = msg.payload.ymd + \"T00:00:00\";\n    today_max = msg.payload.ymd + \"T59:59:59\";\n    user = msg.payload.user;\n    group = msg.payload.g;\n} else {\n    if (msg.payload.ym) {\n        today = msg.payload.ym + \"-01T00:00:00\";\n        today_max = msg.payload.ym + \"-31T59:59:59\";\n        user = msg.payload.user;\n        group = msg.payload.g;\n        \n    } else {\n        util = global.get('util');\n        cts = util.adjustTime(new Date());\n        today = util.formatTime(cts).slice(0, 7) + \"-01T00:00:00\";\n        today_max = util.formatTime(cts).slice(0, 7) + \"-31T59:59:59\";\n        user = msg.payload.user;\n        group = msg.payload.g;\n    }\n}\n\nif (user) {\n    msg.payload = 'select t1.callback_id, t1.\"USER\", t1.value, t5.comment from kintai_data t1 JOIN (select callback_id, \"USER\", max(timestamp) as maxts from (select callback_id, \"USER\", value, timestamp from kintai_data where value is not null) group by callback_id, \"USER\") t2 ON t1.timestamp = t2.maxts and t1.\"USER\" = t2.\"USER\" and t1.callback_id = t2.callback_id LEFT JOIN (select t3.callback_id, t3.\"USER\", t3.comment from kintai_data t3 JOIN (select callback_id, \"USER\", max(timestamp) as maxts from (select callback_id, \"USER\", value, timestamp from kintai_data where comment is not null) group by callback_id, \"USER\") t4 ON t3.timestamp = t4.maxts and t3.\"USER\" = t4.\"USER\" and t3.callback_id = t4.callback_id) t5 ON t1.\"USER\" = t5.\"USER\" and t1.callback_id = t5.callback_id  where t1.callback_id>\\''+today+'\\' and t1.callback_id<\\''+today_max+'\\' and t1.\"USER\"=\\''+user+'\\' and t1.\"GROUP\"=\\''+group+'\\' order by t1.callback_id, t1.\"USER\"';\n} else if (group) {\n    msg.payload = 'select t1.callback_id, t1.\"USER\", t1.value, t5.comment from kintai_data t1 JOIN (select callback_id, \"USER\", max(timestamp) as maxts from (select callback_id, \"USER\", value, timestamp from kintai_data where value is not null) group by callback_id, \"USER\") t2 ON t1.timestamp = t2.maxts and t1.\"USER\" = t2.\"USER\" and t1.callback_id = t2.callback_id LEFT JOIN (select t3.callback_id, t3.\"USER\", t3.comment from kintai_data t3 JOIN (select callback_id, \"USER\", max(timestamp) as maxts from (select callback_id, \"USER\", value, timestamp from kintai_data where comment is not null) group by callback_id, \"USER\") t4 ON t3.timestamp = t4.maxts and t3.\"USER\" = t4.\"USER\" and t3.callback_id = t4.callback_id) t5 ON t1.\"USER\" = t5.\"USER\" and t1.callback_id = t5.callback_id  where t1.callback_id>\\''+today+'\\' and t1.callback_id<\\''+today_max+'\\' and t1.\"GROUP\"=\\''+group+'\\' order by t1.callback_id, t1.\"USER\"';\n} else {\n    msg.payload = 'select t1.callback_id, t1.\"USER\", t1.value, t5.comment from kintai_data t1 JOIN (select callback_id, \"USER\", max(timestamp) as maxts from (select callback_id, \"USER\", value, timestamp from kintai_data where value is not null) group by callback_id, \"USER\") t2 ON t1.timestamp = t2.maxts and t1.\"USER\" = t2.\"USER\" and t1.callback_id = t2.callback_id LEFT JOIN (select t3.callback_id, t3.\"USER\", t3.comment from kintai_data t3 JOIN (select callback_id, \"USER\", max(timestamp) as maxts from (select callback_id, \"USER\", value, timestamp from kintai_data where comment is not null) group by callback_id, \"USER\") t4 ON t3.timestamp = t4.maxts and t3.\"USER\" = t4.\"USER\" and t3.callback_id = t4.callback_id) t5 ON t1.\"USER\" = t5.\"USER\" and t1.callback_id = t5.callback_id  where t1.callback_id>\\''+today+'\\' and t1.callback_id<\\''+today_max+'\\' order by t1.callback_id, t1.\"USER\"';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1220,"wires":[["221ea9d6.96a716","a58fc934.3e9e48"]]},{"id":"b58d07e7.e055f8","type":"comment","z":"94941e70.61a1","name":"Copyright 2018 Nippon Information and Communication. All Rights Reserved.","info":"/**\n * Copyright 2018 Nippon Information and Communication. All Rights Reserved.\n *\n * Licensed under the Apache License, Version 2.0 (the \"License\");\n * you may not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n *      http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an \"AS IS\" BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n */\n","x":270,"y":20,"wires":[]},{"id":"2239e201.525c1e","type":"comment","z":"94941e70.61a1","name":"(4) Bot User OAuth Access Token 設定する","info":"","x":520,"y":300,"wires":[]},{"id":"d5cea19f.370c","type":"comment","z":"94941e70.61a1","name":"(2) 下のInjectを実行してテーブルを作成する","info":"","x":190,"y":100,"wires":[]},{"id":"2c0abfe4.0e4f5","type":"comment","z":"94941e70.61a1","name":"(5) 朝、夕の通知時刻を調整する","info":"","x":150,"y":420,"wires":[]},{"id":"67021c81.b03014","type":"comment","z":"94941e70.61a1","name":"未使用","info":"","x":90,"y":1300,"wires":[]},{"id":"309767c7.8ceb98","type":"comment","z":"94941e70.61a1","name":"(1) 全てのdashDBノードのエラーを消す","info":"プロパティを開き、Serviceの値を正しく選択する","x":180,"y":60,"wires":[]},{"id":"ebc9b3bd.33ca","type":"comment","z":"94941e70.61a1","name":"(3) 設置SlackワークスペースにAppを作成する","info":"１．Bot User を有効にし、Appをインストールする\n\n２．Interactive Components の Request URL に\n\nhttps://当Node-REDのホスト/button-callback\n\nを設定する\n","x":190,"y":260,"wires":[]},{"id":"30de97b8.f82328","type":"comment","z":"94941e70.61a1","name":"Interactive Components の Request URL","info":"","x":180,"y":660,"wires":[]}]
